<script src="/scripts/vendors.bundle.js" type="text/javascript"></script>
<script src="/scripts/scripts.bundle.js" type="text/javascript"></script>
<script src="/scripts/login/login.js" type="text/javascript"></script>
<%- include ./show-flash-alert.ejs %>
</body>
</html>