<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    General
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Name:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter name" name="gpu_name">
            </div>
            <div class="col-md-4">
                <label>
                    Interface:
                </label>
                <div class="input-group m-input-group m-input-group--square">
                    <input type="text" class="form-control m-input" placeholder="Enter interface" name="gpu_interface">
                </div>
            </div>
            <div class="col-md-4">
                <label>
                    Max Resolution:
                </label>
                <div class="input-group m-input-group m-input-group--square">
                    <input type="text" class="form-control m-input" placeholder="Enter max resolution" name="gpu_max_resolution">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Model
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-6">
                <label>
                    Model:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter model" name="gpu_model">
            </div>
            <div class="col-md-6 m--align-center">
                <label class="">
                    Recommended for Gaming:
                </label>
                <div class="m-radio-inline">
                    <label class="m-radio m-radio--solid">
                        <input type="radio" name="gpu_gaming_recommended" checked value=true>
                        Yes
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid">
                        <input type="radio" name="gpu_gaming_recommended" value=false>
                        No
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Chipset
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Chipset Producer:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter chipset producer" name="gpu_chipset_producer">
            </div>
            <div class="col-md-4">
                <label class="">
                    Series:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter series" name="gpu_chipset_series">
            </div>
            <div class="col-md-4">
                <label class="">
                    Technology:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter technology" name="gpu_chipset_technology">
            </div>
            <div class="col-md-4">
                <label>
                    Graphic Processor:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter graphic processor"
                       name="gpu_chipset_graphic_cpu">
            </div>
            <div class="col-md-4">
                <label>
                    Graphic Processor Frequency:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter processor frequency"
                       name="gpu_chipset_cpu_frequency">
            </div>
            <div class="col-md-4">
                <label>
                    Pixel Shader Version:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter version"
                       name="gpu_chipset_pixel_shader">
            </div>
            <div class="col-md-4">
                <label>
                    Vertex Shader Version:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter version"
                       name="gpu_chipset_vertex_shader">
            </div>
            <div class="col-md-4">
                <label>
                    Transistors:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter number"
                       name="gpu_chipset_transistors" value="0">
            </div>
            <div class="col-md-4">
                <label>
                    CUDA Cores:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter number"
                       name="gpu_chipset_cuda_cores" value="0">
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Memory
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Memory Type:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter type" name="gpu_memory_type">
            </div>
            <div class="col-md-4">
                <label class="">
                    Memory Capacity:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter capacity" name="gpu_memory_capacity">
            </div>
            <div class="col-md-4">
                <label class="">
                    Memory BUS:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter BUS" name="gpu_memory_bus">
            </div>
            <div class="col-md-4">
                <label>
                    Memory Frequency:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter frequency" name="gpu_memory_frequency">
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    3D API
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Support DirectX:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter DirectX" name="gpu_support_directx">
            </div>
            <div class="col-md-4">
                <label class="">
                    Support OpenGL:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter OpenGL" name="gpu_support_opengl">
            </div>
            <div class="col-md-4">
                <label class="">
                    Support OpenCL:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter OpenCL" name="gpu_support_opencl">
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Ports
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-3">
                <label>
                    VGA:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter VGA ports" name="gpu_ports_vga" value="0">
            </div>
            <div class="col-md-3">
                <label class="">
                    DVI:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter DVI ports" name="gpu_ports_dvi" value="0">
            </div>
            <div class="col-md-3">
                <label class="">
                    HDMI:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter HDMI ports" name="gpu_ports_hdmi" value="0">
            </div>
            <div class="col-md-3">
                <label class="">
                    Display Port:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter Display Port" name="gpu_ports_display_port" value="0">
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Cooling
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Cooling System:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter cooling system" name="gpu_cooling_system">
            </div>
            <div class="col-md-4">
                <label class="">
                    Cooling Size:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter cooling size" name="gpu_cooling_size">
            </div>
            <div class="col-md-4">
                <label class="">
                    Cooling Type:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter cooling type" name="gpu_cooling_type">
            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Other
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <div class="col-md-4">
                <label>
                    Technologies:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter technologies" name="gpu_other_technologies">
            </div>
            <div class="col-md-4">
                <label class="">
                    Separate power:
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter separate power" name="gpu_other_power">
            </div>
            <div class="col-md-4">
                <label class="">
                    Size:
                </label>
                <input type="number" class="form-control m-input" placeholder="Enter size" name="gpu_other_size">
            </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>