<div class="form-group m-form__group row">
    <div class="col-lg-4">
        <label>
            Full Name:
        </label>
        <input type="email" class="form-control m-input" placeholder="Enter full name">
        <span class="m-form__help">
														Please enter your full name
													</span>
    </div>
    <div class="col-lg-4">
        <label class="">
            Email:
        </label>
        <input type="email" class="form-control m-input" placeholder="Enter email">
        <span class="m-form__help">
														Please enter your email
													</span>
    </div>
    <div class="col-lg-4">
        <label>
            Username:
        </label>
        <div class="input-group m-input-group m-input-group--square">
														<span class="input-group-addon">
															<i class="la la-user"></i>
														</span>
            <input type="text" class="form-control m-input" placeholder="">
        </div>
        <span class="m-form__help">
														Please enter your username
													</span>
    </div>
</div>
<div class="form-group m-form__group row">
    <div class="col-lg-4">
        <label class="">
            Contact:
        </label>
        <input type="email" class="form-control m-input" placeholder="Enter contact number">
        <span class="m-form__help">
														Please enter your contact
													</span>
    </div>
    <div class="col-lg-4">
        <label class="">
            Fax:
        </label>
        <div class="m-input-icon m-input-icon--right">
            <input type="text" class="form-control m-input" placeholder="Fax number">
            <span class="m-input-icon__icon m-input-icon__icon--right">
															<span>
																<i class="la la-info-circle"></i>
															</span>
														</span>
        </div>
        <span class="m-form__help">
														Please enter fax
													</span>
    </div>
    <div class="col-lg-4">
        <label>
            Address:
        </label>
        <div class="m-input-icon m-input-icon--right">
            <input type="text" class="form-control m-input" placeholder="Enter your address">
            <span class="m-input-icon__icon m-input-icon__icon--right">
															<span>
																<i class="la la-map-marker"></i>
															</span>
														</span>
        </div>
        <span class="m-form__help">
														Please enter your address
													</span>
    </div>
</div>
<div class="form-group m-form__group row">
    <div class="col-lg-4">
        <label class="">
            Postcode:
        </label>
        <div class="m-input-icon m-input-icon--right">
            <input type="text" class="form-control m-input" placeholder="Enter your postcode">
            <span class="m-input-icon__icon m-input-icon__icon--right">
															<span>
																<i class="la la-bookmark-o"></i>
															</span>
														</span>
        </div>
        <span class="m-form__help">
														Please enter your postcode
													</span>
    </div>
    <div class="col-lg-4">
        <label class="">
            User Group:
        </label>
        <div class="m-radio-inline">
            <label class="m-radio m-radio--solid">
                <input type="radio" name="example_2" checked value="2">
                Sales Person
                <span></span>
            </label>
            <label class="m-radio m-radio--solid">
                <input type="radio" name="example_2" value="2">
                Customer
                <span></span>
            </label>
        </div>
        <span class="m-form__help">
														Please select user group
													</span>
    </div>
</div>