<%- contentFor('body') %>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    <%= title %>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Form-->
                <form method="post" action="<%= locals.pageSpecific.postLink %>"
                      class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <% if (locals.pageSpecific.product === 'gpu') { %>
                    <% include ../partials/products/gpu-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'cpu') { %>
                    <% include ../partials/products/cpu-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'ram') { %>
                    <% include ../partials/products/ram-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'mobo') { %>
                    <% include ../partials/products/mobo-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'hdd') { %>
                    <% include ../partials/products/hdd-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'ssd') { %>
                    <% include ../partials/products/ssd-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'power') { %>
                    <% include ../partials/products/power-form-body.ejs %>
                    <% } else if (locals.pageSpecific.product === 'case') { %>
                    <% include ../partials/products/case-form-body.ejs %>
                    <% } %>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<% contentFor('additionalScript') %>